{% extends "blog/base.html" %}

{% block content %}

<div class ="about-wrapper">
	<div class ="about-header"> - The Social - </div>
	<div class ="header-quote"> "The place for people to be around other people."</div>
	<div class ="about-header2"> About </div>
	<div class ="about-section"> A studio space that always encourages the ideas of the people who visit physically or connect through the internet. Reclaim, Recycle, Reuse. Design, Build, Illustration, Paint, Street Art, Sustainable Fashion, Graphic Design, Website Design, Screen Printing, Embroidery (Production and ONE-OFFS), Idea Generating, Incubation Center. Workshops, Classes, Shows, Music, Food. </div>
	<div class="about-section2">It started as a workspace to be creative after the regular work day. As friends started hanging out more creative ideas were generated. Now we want the space to allow anyone to come in and share their creativity. In January we began to build out some fun features from reclaimed materials hoping to spark a focus on majority sustainable oriented creativity. A teepee built from cut brush and painters canvas. A flower bed framed with pallets and designed to fit a small amount of reclaimed tiles left over from a commercial job. A desk that shaped itself from chunky dumpster finds, a bowling lane, and more left over tile. Clothings racks made from pallets and the chain holding the drop ceiling we ripped out for more space. The features provide the atmosphere to create and an interest for visitors. The Social currently is focused on sharing and creating several mediums of art, sustainable fashion, reclaimed design/ build projects and antiques. </div>
</div>

{% endblock content %}