{% extends "blog/artist_base.html" %}

{% block content %}



<div class="wrapper">

  <div class="big-picbox" id="artist3-section1">
  {% if artist.2.Artist_Large_Pic_1 %}
    <img src="{{artist.2.Artist_Large_Pic_1.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{artist.2.Art_Work_Title_1}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_1}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_1}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_1}}</div>
  </div>

  <div class="big-textbox" id="artist3-section2">
    <div class="pic-title">{{artist.2.Art_Work_Title_2}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_2}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_2}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_2}}</div>
  </div>

  <div class="big-picbox">
  {% if artist.2.Artist_Large_Pic_2 %}
    <img src="{{artist.2.Artist_Large_Pic_2.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="artist3-section3">
  {% if artist.2.Artist_Large_Pic_3 %}
    <img src="{{artist.2.Artist_Large_Pic_3.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{artist.2.Art_Work_Title_3}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_3}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_3}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_3}}</div>
  </div>

  <div class="big-textbox" id="artist3-section4">
    <div class="pic-title">{{artist.2.Art_Work_Title_4}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_4}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_4}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_4}}</div>
  </div>
  <div class="big-picbox">
  {% if artist.2.Artist_Large_Pic_4 %}
    <img src="{{artist.2.Artist_Large_Pic_4.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="artist3-section5">
  {% if artist.2.Artist_Large_Pic_5 %}
    <img src="{{artist.2.Artist_Large_Pic_5.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 

  </div>
  <div class="big-textbox">
    <div class="pic-title">{{artist.2.Art_Work_Title_5}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_5}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_5}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_5}}</div>
  </div>

  <div class="big-textbox" id="artist3-section6">
    <div class="pic-title">{{artist.2.Art_Work_Title_6}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_6}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_6}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_6}}</div>
  </div>

  <div class="big-picbox">
  {% if artist.2.Artist_Large_Pic_6 %}
    <img src="{{artist.2.Artist_Large_Pic_6.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="artist3-section7">
  {% if artist.2.Artist_Large_Pic_7 %}
    <img src="{{artist.2.Artist_Large_Pic_7.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{artist.2.Art_Work_Title_7}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_7}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_7}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_7}}</div>
  </div>

  <div class="big-textbox" id="artist3-section8">
    <div class="pic-title">{{artist.2.Art_Work_Title_8}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_8}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_8}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_8}}</div>
  </div>

  <div class="big-picbox">
  {% if artist.2.Artist_Large_Pic_8 %}
    <img src="{{artist.2.Artist_Large_Pic_8.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="artist3-section9">
  {% if artist.2.Artist_Large_Pic_9 %}
    <img src="{{artist.2.Artist_Large_Pic_9.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{artist.2.Art_Work_Title_9}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_9}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_9}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_9}}</div>
  </div>
  <div class="big-textbox" id="artist3-section11">
    <div class="pic-title">{{artist.2.Art_Work_Title_10}}</div>
    <div class="pic-description">{{artist.2.Art_Work_Description_10}}</div>
    <div class="pic-cost">{{artist.2.Art_Work_Cost_10}}</div>
    <div class="pic-contact">{{artist.2.Art_Work_Contact_10}}</div>
  </div>

  <div class="big-picbox" id="artist3-section10">
  {% if artist.2.Artist_Large_Pic_10 %}
    <img src="{{artist.2.Artist_Large_Pic_10.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

</div>




{% endblock content %}