{% extends "blog/base.html" %}

{% block content %}

<div class="contact-header">Find out more.</div>

<div class ="contact-boxes">
	<div class="contact-box1">
		<div class="box1-title">In Person</div>
		<img class="box1-img" src="/static/images/location.png">
		<div class="box1-content">
				30 Main Rd.
				Tiverton, RI.
				02878
		</div>
	</div>

	<div class="contact-box2">
		<div class="box2-title">Digitally</div>
		<img class="box2-img" src="/static/images/email.png">
		<div class="box2-content">thesocialri@gmail.com</div>
	</div>

	<div class="contact-box3">
		<div class="box3-title">Cellular Dialogue</div>
		<img class="box3-img" src="/static/images/chat.png">
		<div class="box3-content">+1(714)-609-9536</div>
	</div>
</div>
{% endblock content %}
