{% extends "blog/artist_base.html" %}

{% block content %}

<div class="wrapper">

  <div class="big-picbox" id="show1-section1">
  {% if show.0.Show_Large_Pic_1 %}
    <img src="{{show.0.Show_Large_Pic_1.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{show.0.Show_Title_1}}</div>
    <div class="pic-Date">{{show.0.Show_Date_1}}</div>
    <div class="pic-Description">{{show.0.Show_Description_1}}</div>
    <div class="pic-Description">{{show.0.Show_Description_2}}</div>
  </div>

  <div class="big-textbox" id="show1-section2">
    <div class="pic-title">{{show.0.Show_Title_2}}</div>
    <div class="pic-Date">{{show.0.Show_Date_2}}</div>
    <div class="pic-Description">{{show.0.Show_Description_3}}</div>
    <div class="pic-Description">{{show.0.Show_Description_4}}</div>
  </div>

  <div class="big-picbox">
  {% if show.0.Show_Large_Pic_2 %}
    <img src="{{show.0.Show_Large_Pic_2.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="show1-section3">
  {% if show.0.Show_Large_Pic_3 %}
    <img src="{{show.0.Show_Large_Pic_3.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{show.0.Show_Title_3}}</div>
    <div class="pic-Date">{{show.0.Show_Date_3}}</div>
    <div class="pic-Description">{{show.0.Show_Description_5}}</div>
    <div class="pic-Description">{{show.0.Show_Description_6}}</div>
  </div>

  <div class="big-textbox" id="show1-section4">
    <div class="pic-title">{{show.0.Show_Title_4}}</div>
    <div class="pic-Date">{{show.0.Show_Date_4}}</div>
    <div class="pic-Description">{{show.0.Show_Description_7}}</div>
    <div class="pic-Description">{{show.0.Show_Description_8}}</div>
  </div>
  <div class="big-picbox">
  {% if show.0.Show_Large_Pic_4 %}
    <img src="{{show.0.Show_Large_Pic_4.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="show1-section5">
  {% if show.0.Show_Large_Pic_5 %}
    <img src="{{show.0.Show_Large_Pic_5.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 

  </div>
  <div class="big-textbox">
    <div class="pic-title">{{show.0.Show_Title_5}}</div>
    <div class="pic-Date">{{show.0.Show_Date_5}}</div>
    <div class="pic-Description">{{show.0.Show_Description_9}}</div>
    <div class="pic-Description">{{show.0.Show_Description_10}}</div>
  </div>

  <div class="big-textbox" id="show1-section6">
    <div class="pic-title">{{show.0.Show_Title_6}}</div>
    <div class="pic-Date">{{show.0.Show_Date_6}}</div>
    <div class="pic-Description">{{show.0.Show_Description_11}}</div>
    <div class="pic-Description">{{show.0.Show_Description_12}}</div>
  </div>

  <div class="big-picbox">
  {% if show.0.Show_Large_Pic_6 %}
    <img src="{{show.0.Show_Large_Pic_6.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="show1-section7">
  {% if show.0.Show_Large_Pic_7 %}
    <img src="{{show.0.Show_Large_Pic_7.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{show.0.Show_Title_7}}</div>
    <div class="pic-Date">{{show.0.Show_Date_7}}</div>
    <div class="pic-Description">{{show.0.Show_Description_13}}</div>
    <div class="pic-Description">{{show.0.Show_Description_14}}</div>
  </div>

  <div class="big-textbox" id="show1-section8">
    <div class="pic-title">{{show.0.Show_Title_8}}</div>
    <div class="pic-Date">{{show.0.Show_Date_8}}</div>
    <div class="pic-Description">{{show.0.Show_Description_15}}</div>
    <div class="pic-Description">{{show.0.Show_Description_16}}</div>
  </div>

  <div class="big-picbox">
  {% if show.0.Show_Large_Pic_8 %}
    <img src="{{show.0.Show_Large_Pic_8.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="show1-section9">
  {% if show.0.Show_Large_Pic_9 %}
    <img src="{{show.0.Show_Large_Pic_9.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{show.0.Show_Title_9}}</div>
    <div class="pic-Date">{{show.0.Show_Date_9}}</div>
    <div class="pic-Description">{{show.0.Show_Description_17}}</div>
    <div class="pic-Description">{{show.0.Show_Description_18}}</div>
  </div>
  <div class="big-textbox" id="show1-section10">
    <div class="pic-title">{{show.0.Show_Title_10}}</div>
    <div class="pic-Date">{{show.0.Show_Date_10}}</div>
    <div class="pic-Description">{{show.0.Show_Description_19}}</div>
    <div class="pic-Description">{{show.0.Show_Description_20}}</div>
  </div>

  <div class="big-picbox" id="show1-section10">
  {% if show.0.Show_Large_Pic_10 %}
    <img src="{{show.0.Show_Large_Pic_10.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

</div>


{% endblock content %}