{% extends "blog/artist_base.html" %}

{% block content %}

<div class="wrapper">

  <div class="big-picbox" id="sustainability2-section1">
  {% if sust.1.Sust_Large_Pic_1 %}
    <img src="{{sust.1.Sust_Large_Pic_1.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{sust.1.Sust_Title_1}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_1}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_1}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_2}}</div>
  </div>

  <div class="big-textbox" id="sustainability2-section2">
    <div class="pic-title">{{sust.1.Sust_Title_2}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_2}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_3}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_4}}</div>
  </div>

  <div class="big-picbox">
  {% if sust.1.Sust_Large_Pic_2 %}
    <img src="{{sust.1.Sust_Large_Pic_2.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="sustainability2-section3">
  {% if sust.1.Sust_Large_Pic_3 %}
    <img src="{{sust.1.Sust_Large_Pic_3.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{sust.1.Sust_Title_3}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_3}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_5}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_6}}</div>
  </div>

  <div class="big-textbox" id="sustainability2-section4">
    <div class="pic-title">{{sust.1.Sust_Title_4}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_4}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_7}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_8}}</div>
  </div>
  <div class="big-picbox">
  {% if sust.1.Sust_Large_Pic_4 %}
    <img src="{{sust.1.Sust_Large_Pic_4.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="sustainability2-section5">
  {% if sust.1.Sust_Large_Pic_5 %}
    <img src="{{sust.1.Sust_Large_Pic_5.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 

  </div>
  <div class="big-textbox">
    <div class="pic-title">{{sust.1.Sust_Title_5}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_5}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_9}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_10}}</div>
  </div>

  <div class="big-textbox" id="sustainability2-section6">
    <div class="pic-title">{{sust.1.Sust_Title_6}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_6}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_11}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_12}}</div>
  </div>

  <div class="big-picbox">
  {% if sust.1.Sust_Large_Pic_6 %}
    <img src="{{sust.1.Sust_Large_Pic_6.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="sustainability2-section7">
  {% if sust.1.Sust_Large_Pic_7 %}
    <img src="{{sust.1.Sust_Large_Pic_7.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{sust.1.Sust_Title_7}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_7}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_13}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_14}}</div>
  </div>

  <div class="big-textbox" id="sustainability2-section8">
    <div class="pic-title">{{sust.1.Sust_Title_8}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_8}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_15}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_16}}</div>
  </div>

  <div class="big-picbox">
  {% if sust.1.Sust_Large_Pic_8 %}
    <img src="{{sust.1.Sust_Large_Pic_8.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-picbox" id="sustainability2-section9">
  {% if sust.1.Sust_Large_Pic_9 %}
    <img src="{{sust.1.Sust_Large_Pic_9.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

  <div class="big-textbox">
    <div class="pic-title">{{sust.1.Sust_Title_9}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_9}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_17}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_18}}</div>
  </div>
  <div class="big-textbox" id="sustainability2-section10">
    <div class="pic-title">{{sust.1.Sust_Title_10}}</div>
    <div class="pic-Date">{{sust.1.Sust_Date_10}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_19}}</div>
    <div class="pic-Description">{{sust.1.Sust_Description_20}}</div>
  </div>

  <div class="big-picbox" id="sustainability2-section10">
  {% if sust.1.Sust_Large_Pic_10 %}
    <img src="{{sust.1.Sust_Large_Pic_10.url}}">
  {% else %}
    <img class="img-fluid" src="/static/images/chat.png">
  {% endif %} 
  </div>

</div>



{% endblock content %}