{% extends "blog/base.html" %}

{% block content %}

<div class="wrapper1">

{% for sust in sust %}

  <div class= "artist-graph1">

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
        <a href="{% url 'social-sustainability1' %}#sustainability1-section9" target="_blank">
      {% elif forloop.counter == 2 %}
        <a href="{% url 'social-sustainability2' %}#sustainability2-section9" target="_blank">
      {% elif forloop.counter == 3 %}
        <a href="{% url 'social-sustainability3' %}#sustainability3-section9" target="_blank">
      {% elif forloop.counter == 4 %}
        <a href="{% url 'social-sustainability4' %}#sustainability4-section9" target="_blank">
      {% elif forloop.counter == 5 %}
        <a href="{% url 'social-sustainability5' %}#sustainability5-section9" target="_blank">
      {% elif forloop.counter == 6 %}
        <a href="{% url 'social-sustainability6' %}#sustainability6-section9" target="_blank">
      {% elif forloop.counter == 7 %}
        <a href="{% url 'social-sustainability7' %}#sustainability7-section9" target="_blank">
      {% endif %}

      {% if sust.Sust_Small_Pic_9 %}
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_9.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_9.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_9.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
    </a>

    </div>
    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section10" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section10" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section10" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section10" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section10" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section10" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section10" target="_blank">
      {% endif %}

      {% if sust.Sust_Small_Pic_10 %}
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_10.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_10.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_10.url}}';"
            height=50px;
            width=50px;>
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
      </a>
    </div>

    <div class= "item2-2">{{sust.Sust_Blurb_9}}</div>
    <div class= "item2-2">{{sust.Sust_Blurb_10}}</div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section7" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section7" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section7" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section7" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section7" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section7" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section7" target="_blank">
      {% endif %}
      
      {% if sust.Sust_Small_Pic_7 %}
          <img class="hovIMG" src="{{sust.Sust_Small_Pic_7.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_7.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_7.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
      </a>

    </div>
    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section8" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section8" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section8" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section8" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section8" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section8" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section8" target="_blank">
      {% endif %}

      {% if sust.Sust_Small_Pic_8 %}
          <img class="hovIMG" src="{{sust.Sust_Small_Pic_8.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_8.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_8.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
      </a>
    </div>

    <div class= "item2-2">{{sust.Sust_Blurb_7}}</div>
    <div class= "item2-2">{{sust.Sust_Blurb_8}}</div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section5" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section5" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section5" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section5" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section5" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section5" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section5" target="_blank">
      {% endif %}
     
    {% if sust.Sust_Small_Pic_5 %}
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_5.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_5.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_5.url}}';"
            height=50px;
            width=50px;
            >
    {% else %}
      <a href="">
      <img class="img-fluid" src="/static/images/chat.png">
    {% endif %}
    </a>
    </div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section6" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section6" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section6" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section6" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section6" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section6" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section6" target="_blank">
      {% endif %}

      {% if sust.Sust_Small_Pic_6 %}
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_6.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_6.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_6.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
      </a>   
    </div>

    <div class= "item2-2">{{sust.Sust_Blurb_5}}</div>
    <div class= "item2-2">{{sust.Sust_Blurb_6}}</div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section3" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section3" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section3" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section3" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section3" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section3" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section3" target="_blank">
      {% endif %}
      
      {% if sust.Sust_Small_Pic_3 %}
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_3.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_3.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_3.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}   
      </a>
    </div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section4" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section4" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section4" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section4" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section4" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section4" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section4" target="_blank">
      {% endif %}

      {% if sust.Sust_Small_Pic_4 %}  
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_4.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_4.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_4.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %} 
      </a> 
    </div>

    <div class= "item2-2">{{sust.Sust_Blurb_3}}</div>
    <div class= "item2-2">{{sust.Sust_Blurb_4}}</div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section1" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section1" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section1" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section1" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section1" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section1" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section1" target="_blank">
      {% endif %}
      
      {% if sust.Sust_Small_Pic_1 %}  
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_1.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_1.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_1.url}}';"
            height=50px;
            width=50px;
            >
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}  
      </a>
    </div>

    <div class= "item1-1">
      {% if forloop.counter == 1 %}
      <a href="{% url 'social-sustainability1' %}#sustainability1-section2" target="_blank">
      {% elif forloop.counter == 2 %}
      <a href="{% url 'social-sustainability2' %}#sustainability2-section2" target="_blank">
      {% elif forloop.counter == 3 %}
      <a href="{% url 'social-sustainability3' %}#sustainability3-section2" target="_blank">
      {% elif forloop.counter == 4 %}
      <a href="{% url 'social-sustainability4' %}#sustainability4-section2" target="_blank">
      {% elif forloop.counter == 5 %}
      <a href="{% url 'social-sustainability5' %}#sustainability5-section2" target="_blank">
      {% elif forloop.counter == 6 %}
      <a href="{% url 'social-sustainability6' %}#sustainability6-section2" target="_blank">
      {% elif forloop.counter == 7 %}
      <a href="{% url 'social-sustainability7' %}#sustainability7-section2" target="_blank">
      {% endif %}
   
      {% if sust.Sust_Small_Pic_2 %}  
        <img class="hovIMG" src="{{sust.Sust_Small_Pic_2.url}}" 
              onmouseover="this.src='{{sust.Sust_Hover_Pic_2.url}}';"
              onmouseout="this.src='{{sust.Sust_Small_Pic_2.url}}';"
            height=50px;
            width=50px;>
      {% else %}
        <a href="">
        <img class="img-fluid" src="/static/images/chat.png">
      {% endif %}
      </a> 
    </div>

    <div class= "item2-2">{{sust.Sust_Blurb_1}}</div>
    <div class= "item2-2">{{sust.Sust_Blurb_2}}</div>

    <div class= "sustainability-name">
      {% if forloop.counter == 1 %}
      <a href = "{% url 'social-sustainability1' %}">{{sust.name}}</a>
      {% elif forloop.counter == 2 %}
      <a href = "{% url 'social-sustainability2' %}">{{sust.name}}</a>
      {% elif forloop.counter == 3 %}
      <a href = "{% url 'social-sustainability3' %}">{{sust.name}}</a>
      {% elif forloop.counter == 4 %}
      <a href = "{% url 'social-sustainability4' %}">{{sust.name}}</a>
      {% elif forloop.counter == 5 %}
      <a href = "{% url 'social-sustainability5' %}">{{sust.name}}</a>
      {% elif forloop.counter == 6 %}
      <a href = "{% url 'social-sustainability6' %}">{{sust.name}}</a>
      {% elif forloop.counter == 7 %}
      <a href = "{% url 'social-sustainability7' %}">{{sust.name}}</a>
      {% endif %}
    </div>

  </div>

{% endfor %}

</div>

{% endblock content %}
